<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Library</title>
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <a href="/"><h1>Image Library</h1></a>

        <a href="/library.html"><h3>Library</h3></a>
      </nav>
    </header>

    <main class="date-folder-item-main">
      <!-- $INSERT -->
      <!-- $IMAGE -->
      <!-- $INSERT -->
    </main>
  </body>
</html>
